
#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 113px auto 112px;

}

:root {
  font-family: "Open Sans",sans-serif;
  
}

img {
  height: 350px;
  
  object-fit: cover;

}

header {
  color: #E1624F;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 97px;
  margin-bottom: 2px;


}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 6px;

}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: bold;

}

p {
  font-size: 16px;
  font-weight: normal;

}

.subtitle {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 44px;

}





